.home {
    margin: 8% 0 10% 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cardDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0.5rem black;
    margin: 0 5rem 0 3rem;
    flex: 1;

    & .imgDoctor {
        border-radius: 0.5rem;
        height: 15rem;
        width: 14rem;
    }
}

.cardEsquerda {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5rem black;
    margin: 0 3rem 0 5rem;
    flex: 1;

    & .content {
        flex-wrap: wrap;
        word-wrap: break-word;
    }
}

@media (max-width: 900px) {
    .home {
        margin: 4rem 0 0 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cardDireita {
        margin: 0 0 1rem 0;
    }

    .cardEsquerda {
        margin: 1rem 0 0 0;
    }

}