<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        hr{
            height: 2px;
            background: black;
            margin: 2rem 0 2rem 0;
        }
        .content{
            margin: 5rem 0 5rem 0;
        }
    </style>
    <title>TESTE</title>
</head>
<body>
    
    <h1>Consulta Agendada</h1>
    <hr>

    <p class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates eligendi incidunt doloribus iusto consequatur ipsum veniam veritatis nisi, magni eaque sit quia sapiente, tempore ea in distinctio quod, quasi ipsa!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut nobis, totam ab, ratione nostrum placeat doloribus itaque sequi aliquid consequuntur aut quaerat sunt unde nam velit reiciendis quasi ullam sed!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo aperiam dicta ipsa quos, sit reiciendis officiis culpa. Debitis perferendis exercitationem accusantium ab, aliquid in aliquam tempora autem, illo, inventore quam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quaerat fuga quisquam iure fugit rerum nesciunt doloremque nostrum sit nisi, dolore quam animi amet omnis soluta, minus eligendi sint expedita?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta deserunt, quod quae doloribus dolorem optio quis laborum fugit magnam tenetur saepe exercitationem culpa modi possimus officiis quo porro voluptas ipsa.
    </p>

    <hr>
    <footer>
        <p>
            São Paulo <%= today %>
        </p>
    </footer>
</body>
</html>